#sign-in-wrapper{
    height: 100vh;
}

#wing-logo{
    position:fixed;
    right: 0;
    top: 6vw;
}

body .ant-switch-checked {
    background-color: #002D5B;
}

.MuiInputBase-input{
    padding-bottom:15px;
}

#sign-in-wrapper .MuiInputBase-root{
    margin-bottom:11px;
    width:310px;
    height:50px;
}

#sign-in-button{
    height: 48px;
    width: 149px;
    border-radius: 11px;
    text-align: center;
}

#sign-in-button-wrap{
    text-align:center;
}

h2.welcome{
    margin-top:54px;
}

.progress-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top:10vw;
}

#sign-in-wrapper .MuiButton-containedPrimary{
    background:#EE273B;
    margin-bottom:10px;
}