#sign-in-wrapper{
    height: 100vh;
}

#wing-logo{
    position:fixed;
    right: 0;
    top: 6vw;
}

.fa-caret-down{
    font-size: 44px;
    position: absolute;
    right: 75px;
    z-index: 11;
    color: #002D5B;
    font-weight: 600;
}

#sign-in-wrapper input{
    width: 19vw;
    max-width: 320px;
    font-size: 16px;
}

#sign-in-wrapper input[name="password"]{
    margin-bottom:31px;
}

.inner-chat-log{
    border: 2px solid #002D5B;
    border-radius: 3px;
    padding-top: 30px;
}

body .ant-switch-checked {
    background-color: #002D5B;
}

.MuiInputBase-input{
    padding-bottom:15px;
}

#sign-in-wrapper .MuiInputBase-root{
    margin-bottom:11px;
    width:310px;
    height:50px;
}

#sign-in-button{
    height: 48px;
    width: 149px;
    border-radius: 11px;
    text-align: center;
}

#sign-in-button-wrap{
    text-align:center;
}

h2.welcome{
    margin-top:54px;
}

.inner-chat-log{
    width:337px;
}

.inner-chat-log textarea{
    width:100%;
}

.progress-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top:10vw;
}

#sign-in-wrapper .MuiButton-containedPrimary{
    background:#EE273B;
    margin-bottom:10px;
}

.MuiInputBase-input[placeholder="email"]{
    background-color: transparent !important;
}
.add-post .anticon.ant-collapse-arrow svg{
    color:#002D5B;
}