

.inner-images-wrapper div:first-child{
    width:100%;
}

ul{
    list-style:none;
}

.date-col{
    border: none;
    color: #707070;
}

.margin-border{
    margin-bottom: 30px;
}

.inner-images-wrapper div:nth-child(n + 2) img{
    border: 1px solid #707070;
    object-fit: cover;
    height:100%;
}