.hex-color{
    width: 261px;
    height: 15px;
    margin-left: 0;
    border-radius: 0;
    margin: 0 11px 15px 0;
}

#selected-categories{
    list-style:none;
    padding:0;
}

.delete-category{
    border: none;
    box-shadow: none;
}

.gen-red-btn{
        background: #EF463B;
        text-transform: uppercase;
        color: #fff;
        border: none;
        height: 48px;
        width: 149px;
        border-radius: 11px;
}

.light-input{
    border: 1px solid #002D5B;
    width: 100%;
    height: 33px;
    padding-left: 15px;
}

.light-input::placeholder { /* Firefox, Chrome, Opera */ 
    color: #707070;
} 
  
.light-input:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:#707070;
} 
  
.light-input::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #707070;
} 

.category-list-item{
    position:relative;  
}
 
.category-list-item button{
    box-shadow:none;
    border:none;
    position:absolute;
    right: 0;
    left: 0;
    background: transparent;
}