.hidden-post{
  position: fixed;
  border: 2px solid #002D5B;
  z-index: 99999;
  box-shadow: 4px 14px 12px -1px rgba(0,0,0,0.2);
  right: -415px;
  top: -155px;
  background: rgba(0,0,0,0.8);
  width: 100vw;
  padding: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-button-wrapper .ant-collapse-content-box{
  padding:0;
}

.hidden-post > div{
  background: #fff;
  width: 60%;
}

.social-wrapper p{
  margin-right:6px;
  margin-bottom:0;
}

.delete-btn p{
  width: 60%;
  text-align: center;
  color: #002D5B;
  margin: 10px 0 20px;
}

.props-copy{
  max-width:500px;
  word-break:break-all;
  margin-top:15px;
}

*{
  line-height:normal;
}

.image-of-ad{
  margin-left:8px;
}

.hidden-calendar-wrapper .icon{
  margin-left:8px;
}

.calendar-popup-wrapper{
  margin-top:15px;
}

.label-button{
    position:relative;
    height: 15px;
    line-height: normal;
    text-align: left;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#002D5B;
    max-width: 104px;
}

.not-read{
    position: absolute;
    right: 0;
    width: 20px;
    top:0;
}

.hidden-inner{
  padding:50px 50px 20px 80px;
}


.tail-datetime-calendar .calendar-date table tbody tr > *{
    width:249px;
}

.dialog-enter {
    opacity: 0.01;
    transform: scale(1.1);
  }
  
  .dialog-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }
  
  .dialog-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .dialog-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
  }



  /* SLIDE ANIMATION */



  /* .slide-enter {
    opacity: 0.01;
    transform: translateX(-100vw);
    position:fixed;
    
  }
  
  .slide-enter-active {
    opacity: 1;
    transform: translateX(0);;
    transition: all 2000ms linear;
    position:fixed;
  }
  
  .slide-exit {
    opacity: 1;
    position:fixed;
    transform: translateX(0);;
  }
  
  .slide-exit-active {
    opacity: 0.01;
    transform: translateX(-100vw);;
    position:fixed;
    transition: all 300ms;
  } */