@font-face {
	font-family: 'Panton';
	src: url('../assets/fonts/pantonskylar-bold-webfont.eot');
	src: url('../assets/fonts/pantonskylar-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/pantonskylar-bold-webfont.woff2') format('woff2'),
		url('../assets/fonts/pantonskylar-bold-webfont.woff') format('woff'),
		url('../assets/fonts/pantonskylar-bold-webfont.ttf') format('truetype'),
		url('../assets/fonts/pantonskylar-bold-webfont.svg#panton_skylarbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../assets/fonts/pantonskylar-light-webfont.eot');
	src: url('../assets/fonts/pantonskylar-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/pantonskylar-light-webfont.woff2') format('woff2'),
		url('../assets/fonts/pantonskylar-light-webfont.woff') format('woff'),
		url('../assets/fonts/pantonskylar-light-webfont.ttf') format('truetype'),
		url('../assets/fonts/pantonskylar-light-webfont.svg#panton_skylarlight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../assets/fonts/pantonskylar-regular-webfont.eot');
	src: url('../assets/fonts/pantonskylar-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/pantonskylar-regular-webfont.woff2') format('woff2'),
		url('../assets/fonts/pantonskylar-regular-webfont.woff') format('woff'),
		url('../assets/fonts/pantonskylar-regular-webfont.ttf') format('truetype'),
		url('../assets/fonts/pantonskylar-regular-webfont.svg#panton_skylarregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('../assets/fonts/pantonskylar-semibold-webfont.eot');
	src: url('../assets/fonts/pantonskylar-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/pantonskylar-semibold-webfont.woff2') format('woff2'),
		url('../assets/fonts/pantonskylar-semibold-webfont.woff') format('woff'),
		url('../assets/fonts/pantonskylar-semibold-webfont.ttf') format('truetype'),
		url('../assets/fonts/pantonskylar-semibold-webfont.svg#panton_skylarsemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

* {
	font-family: 'Panton' !important;
}

body .ant-select-selection__placeholder{
	top:42%;
}

.fas{
	font-family: 'Font Awesome 5 Free' !important;
}

.admin-message-wrap .ant-btn{
	position: absolute;
    left: 30px;
    bottom: 4px;
}

.admin-message-wrap .ant-btn:hover{
	background:transparent;
	color:#002d5b;
}

#no-date-calendar {
	width: 100%;
}

.toggle-close {
	background: transparent;
	color: #ef463b;
	font-weight: bold;
	border: none;
	font-size: 41px;
}

.add-date-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	z-index: 1;
	right: 0;
}

.add-date-form .add-date-btn {
	margin-top: 58px;
}

.add-date-btn {
	background: #ef463b;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #ef463b;
	height: 48px;
	width: 149px;
	border-radius: 11px;
	transition:all 0.3s ease-in-out;
}

.anticon-down{
	position:relative;
}

.ant-select-enabled img{
	transform:rotate(0deg);
}

.ant-select-arrow{
	top:46%;
}

.ant-select-selection-selected-value {
    padding-bottom: 2px;
}

.ant-select-enabled.ant-select-open img{
	transform:rotate(90deg);
}

.ant-select-selection__placeholder{
	color: #707070;
}

.anticon-down:before{
	font-family:"Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f007";
	position:absolute;
}

.back-link:hover{
	color:#ef463b !important;
}

.ant-btn:hover{
	border-color:#ef463b;
}

.add-date-btn:hover{
	background:#fff;
	color:#ef463b;
}

.react-time-picker__inputGroup__input {
	width: 18px !important;
}

select {
	background: #fff;
}

.date-map-item img {
	width: 95%;
}

.back-link {
	color: #002d5b;
	margin-left: 15px;
}

.anticon svg{
	font-size:20px;
	color:#EF463B;
	font-weight:bold;
}

.admin-message-wrap textarea{
	border: none;
    margin-bottom: 0;
    border-top: 2px solid #002d5b;
}

.ant-select-arrow .ant-select-arrow-icon svg {
    color: #000;
}

.inner-date-wrapper .ant-select-selection--single .ant-select-selection__rendered{
	height:37px;
}

.inner-date-wrapper .ant-select-selection--single{
	background: #fff;
    color: #707070;
    font-size: 16px; 
	height: 37px;
	border:1px solid #707070;
}

.inner-date-wrapper .selection__rendered{
	height:37px;
}

.inner-date-wrapper .ant-modal-footer{
	margin-top: 36px;
}

.categories-modal .ant-modal-close{
	display:none;
}

.inner-date-wrapper .ant-select-selection__rendered{
	display:flex;
	align-items:center;
}

.date-modal .ant-modal-content{
	background:transparent;
	box-shadow:none;
}

.date-modal.ant-modal{
	top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.single-calendar-wrapper {
	background-image: url('../assets/grouped-single-calendar.svg');
	height: 240px;
	display: block;
	background-size: cover;
	position: relative;
	background-size: 100% 100%;
	width: 100%;
}

.categories-modal .ant-modal-content{
	width: 200px;
    background: transparent;
    box-shadow: none;
    left: -70%;
    top: 187px;
}

.cat-outter-list {
	left: -15px !important;
    bottom: -95px !important;
}

.sketch-picker{
	width: 215px !important;
	border-radius: 0 !important;
	box-shadow:none !important;
}

.mt-87{
	margin-top:87px;
}

.margin-70 {
	margin-bottom: 50px;
}

#client-heading {
	margin-top: 78px;
	margin-bottom: 22px;
	font-size: 20px;
	text-align: left !important;
}

.client-text {
	margin-top: 20px;
}

.add-btn-wrapper {
	position: absolute;
	top: 106px;
	right: 25px;
}

.date-map-item{
	margin-bottom: 45px;
}

.cal-img {
	margin-bottom: 11px;
}

.main-link {
	margin-left: 17px;
	width: 80%;
	text-align: center;
}

.date-wrapper {
	margin: 0 auto;
}

.delete-date {
	box-shadow: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

.no-padding {
	padding: 0 !important;
}

#arrow {
	position: absolute;
}

.no-margin {
	margin: 0;
}

.plus {
	color: #fff;
	background: #002d5b;
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

#add-category-button {
	color: #002d5b;
	border-radius: 50%;
}

.arrow-wrapper .add-date-btn {
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.date-wrapper a {
	color: #002d5b;
	text-decoration: none;
}

.inner-date-wrapper {
	width: 600px;
}

.month-wrapper {
	width: 600px;
}

.date-wrapper select {
	width: 150px;
}

body .bm-menu {
	background: #fff;
}

#main-menu {
	top: 0;
}

#nav-id {
	padding: 0;
	list-style: none;
}

#nav-id img {
	width: 46px;
	height: 46px;
	margin-right: 20px;
}

#nav-id li a {
	color: #002d5b;
}

#outter-cat-wrapper {
	position: absolute;
	margin-top:85px;
}

.margin-btn {
	margin-top: 120px;
}

.assign-link {
	color: #002d5b;
	text-decoration: underline;
	margin-bottom: 20px;
	display: inline-block;
}

.remove-wrapper{
	position: absolute;
    bottom: 110px;
    left: 51%;
}

.ml-10{
	margin-left:10px !important;
	margin-bottom:0;
}

#trans-cat button{
	margin-bottom:4px;
}

.main-edit-form .ant-select-selection-selected-value {
    float: left;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 6px;
    font-size: 16px;
    color: #707070;
}