.menu-wrapper {
	background: #002d5b;
}

.empty-state{
	margin-top:108px;
}

.color-red {
	color: #ef463b;
}

h2{
	font-size:20px;
}

p{
	font-size:14px;
}

h4 {
	font-size: 16px;
}

#outer-container {
	position: relative;
}

.child-route {
	position: absolute;
}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
}

.red-border-btn{
	border:2px solid #EF463B;
	background:#FFF;
	color:#EF463B;
	font-weight:600;
}

.red-btn {
	background:#EF463B;
	color:#fff;
}

.delete-btn-main{
	height:48px;
	border-radius:11px;
	font-size:16px;
	width:150px;
}