.menu-wrapper {
	background: #002d5b;
}

.empty-state{
	margin-top:108px;
}

.color-red {
	color: #ef463b;
}

.calendar-popup-wrapper{
	padding-top:3.3px;
}

.tail-datetime-calendar .calendar-date table tbody tr > * {
    width: 158px;
    height: 90px;
}

.tail-datetime-calendar{
	z-index: 800;
    position: relative;
}

.upload-files-wrapper div:first-child{
	background-size:cover;
}

.upload-files-wrapper div{
	background-size:cover;
}

h2{
	font-size:20px;
}

p{
	font-size:14px;
}

#main-backlink{
	padding-left:0;
}

h4 {
	font-size: 16px;
}

#outer-container {
	position: relative;
}

.child-route {
	position: absolute;
}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
}

.red-border-btn{
	border:2px solid #EF463B;
	background:#FFF;
	color:#EF463B;
	font-weight:600;
}

.red-btn {
	background:#EF463B;
	color:#fff;
}

.delete-btn-main{
	height:48px;
	border-radius:11px;
	font-size:16px;
	width:150px;
}