#avatar-upload {
	height: 178px;
	width: 261px;
	text-align: center;
	border: 3px dashed #ef463b;
	margin: 0 auto;
}

#add-new-form .MuiInputBase-input {
	color: #707070;
	width: 310px;
	background: #fff;
}

#add-new-form-wrapper {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999999;
	top: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	align-items: center;
	justify-content: center;
}

.margin-border {
	margin-bottom: 30px;
}

.post-list-wrapper {
	margin-bottom: 50px;
}

.cat-h5 {
	text-align: center;
	margin: 50px 0 70px;
}

.time-string {
	position: relative;
	background: #002d5b;
	color: #fff;
	font-size: 20px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 11px;
}

#assign-categories-wrapper {
	background: #000;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: flex;
	align-items: center;
}

.submit-cat {
	position: absolute;
	bottom: 35px;
}

.p-blue {
	color: #002d5b;
}

#x-add-new {
	z-index: 9999999999;
	color: #ee463a;
}

.smile-logo,
.smile-wrapper {
	width: 21px;
	height: 21px;
}

.date-col input {
	border: none;
	font-size: 14px;
	display: flex;
	height: 30px;
	padding-top: 0;
}

.date-col .ant-time-picker-icon {
	display: none;
}

.post-col input {
	border: none;
}

.assign-cat label {
	margin: 0;
}

.form-cat {
	height: 70vh;
}

.list-header {
	border-bottom: 2px solid #002d5b;
	color: #002d5b;
	font-size: 16px;
	padding-bottom: 7px;
	margin-bottom: 0;
}
.inner-btn {
	width: 558px;
	height: 277px;
	width: 600px;
	height: 277px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fff;
}

.main-button {
	height: 48px;
	width: 149px;
	border-radius: 11px;
	font-size: 16px;
	border: none;
	text-transform: uppercase;
}

.red-button {
	background: #ef463b;
	color: #fff;
	margin-right: 12px;
}

.white-button {
	border: 2px solid #ef463b;
}

.smile-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
}

.main-form-wrapper {
	width: 100%;
}

#add-new-form .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-color: #fff;
}

.para-margin {
	margin-bottom: 78px;
}

.react-datepicker-popper{
	z-index:10;
}

.bm-burger-bars-hover {
	color: #fff;
	transform: translateY(-3px);
	transition: transform 0.3s linear;
	background: #002d5b;
}

#add-new-form .MuiInputLabel-outlined {
	color: #707070;
}

#add-new-form .MuiInputLabel-outlined {
}

#add-new-form .MuiInputBase-input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #002d5b;
	opacity: 1; /* Firefox */
}

#add-file {
	margin-top: 13px;
	width: 260px;
	margin-top: 13px;
	width: 260px;
	position: absolute;
	bottom: 15px;
	right: 0;
	width: 90px;
	right: 15px;
}

.archive-x {
	position: absolute;
	right: 0;
}

.bm-burger-bars {
	background: #fff;
	height: 4px !important;
	width: 43px;
	border-radius: 3px;
}

#client-list {
	margin-top: 61px;
}

.user-background {
	height: 178px;
	width: 100%;
	object-fit: cover;
}

.x-wrapper {
	position: absolute !important;
	right: 0;
	left: 0;
	text-align: center;
}

.uncomplete.add-date-btn {
	background: #b2bec3;
}

.client-wrapper {
	height: 178px;
	width: 23%;
	position: relative;
}

.delete-button {
	position: absolute;
	top: 50px;
	background: transparent;
	border: none;
	padding-left: 20px;
}

.delete-button button {
	width: 40px;
	height: 40px;
}

.client-wrapper a {
	text-decoration: none;
	color: #002d5b;
	margin-bottom: 10px;
}

.round-arrow {
	position: relative;
	top: -80px;
}

.dashed {
	border: 3px dashed #f0f0f0;
	height: 178px;
	width: 24%;
}

.container {
	max-width: 1140px;
}

#home-page {
	position: relative;
}

.empty-add-date {
	position: absolute;
	right: 45px;
	top: 53px;
	z-index: 100;
}
.empty-state .text-center {
	margin-top: 14px;
}

.inner-form-wrapper input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
#avatar-upload {
	position: relative;
}

.go-post{
	width: 100%;
    display: inline-block;
    text-align: right;
}

a.d-flex{
    color:#002D5B;
    margin-top:15px;
}

a.d-flex img{
    margin-right:15px;
}

.grey-link{
    color:#707070;
}