.react-time-picker__clock{
    display:none;
}

.add-post .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #002D5B;
    border-width: 2px;
}

.add-post .MuiInputLabel-outlined{
    color: #002D5B;
    text-transform: uppercase;
}

.react-time-picker{
    height: 56px;
    border: 2px solid #002D5B;
    border-radius: 4px;
}

.add-post .MuiFormControl-root{
    margin-bottom:0;
}

.react-time-picker__wrapper{
    border:none;
    padding:0 20px;
}

.add-post .MuiFab-label{
    color:#fff;
}

.outlined-title.MuiFormControl-root, .outlined-title.MuiFormControl-root .MuiInputBase-root{
    width:100%;
    height: 37px;
}

.outlined-title .MuiFormLabel-root{
    transform: translate(14px, 12px) scale(1);
}

.add-post .outlined-title.hash-field{
    margin-bottom:10px;
}
.heading{
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}

.outter-form-wrap{
    width:100%;
}

.outlined-copy{
    height: 219px;
    width:100%;
}

.category-wrapper::nth-child(n+1){
    display:none;
}

.outlined-copy .PrivateNotchedOutline-root-55{
    height: 219px;
}
.remove-hash{
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 24px;
}

.add-post .add-date-btn{
    margin-top:48px;
}

.add-post-heading.heading{
    margin-top: 40px;
    margin-bottom: 110px;
}

.tail-datetime-calendar .calendar-date table tbody tr > *.today:after{
    display:none;
}

.add-post .outlined-copy .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    height:219px;
}

.sign-out-btn{
    border: none;
    box-shadow: none;
    background: transparent;
    color: #fff;
    padding: 0;
}

.grey-background{
    background:#F0F0F0;
}

#red-outline-wrapper{
    height: 280px;
    border: 3px dashed #EF463B;
    margin-top:31px;
}

.MuiOutlinedInput-notchedOutline{
    border-radius:0 !important;
}

.x-wrapper a{
    margin-bottom:0;
}

.red-button{
   margin-right:12px; 
}

.archive-x{
    background: transparent;
    border: none;
    color: #002D5B;
    font-size: 23px;
    font-weight: bold;
    height: auto;
    padding: 0; 
}

#nav-id li{
    margin-bottom:20px;
}

.clear-btn{
    border: none;
    box-shadow: none;
}

.copy-wrapper{
    position:relative;
}

.red-center{
    width: 50%;
    border-left: 3px dashed #EF463B;
    height: 100%;
    margin: 0 auto;
    border-right: 3px dashed #EF463B;
    position:relative;
}

.red-dashed-input{
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 0;
    margin: 0 auto;
}

.dashed-wrapper{
    position:relative;
}

.sign-out-btn{
    color:#002D5B;
}

#sky-logo{
    align-self: center;
    max-height: 70px;

}