.react-time-picker__clock {
	display: none;
}

.add-post .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-color: #002d5b;
	border-width: 2px;
}

.inner-form-wrapper1 .margin-label {
	margin-left: 10px;
}

.no-margin {
	margin: 0 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
	border-color: #002d5b;
}

.add-post .MuiInputLabel-outlined {
	color: #002d5b;
	text-transform: uppercase;
}

.react-time-picker {
	height: 56px;
	border: 2px solid #002d5b;
	border-radius: 4px;
}

.add-post .MuiFormControl-root {
	margin-bottom: 0;
}

.react-time-picker__wrapper {
	border: none;
	padding: 0 20px;
}

.add-post .MuiFab-label {
	color: #fff;
}

.outlined-title.MuiFormControl-root,
.outlined-title.MuiFormControl-root .MuiInputBase-root {
	width: 100%;
	height: 37px;
}

.outlined-title .MuiFormLabel-root {
	transform: translate(14px, 12px) scale(1);
}

.add-post .outlined-title.hash-field {
	margin-bottom: 10px;
}
.heading {
	font-size: 20px;
	font-weight: 600;
	margin-top: 25px;
}

.outter-form-wrap {
	width: 100%;
}

.outlined-copy {
	height: 219px;
	width: 100%;
}

.category-wrapper::nth-child(n + 1) {
	display: none;
}

.outlined-copy .PrivateNotchedOutline-root-55 {
	height: 219px;
}
.remove-hash {
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 24px;
}

.add-post .add-date-btn {
	margin-top: 48px;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

/* .ant-row.upload-files-wrapper{
	width:100%;
} */

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.add-post-heading.heading {
	margin-top: 40px;
	margin-bottom: 110px;
}

.tail-datetime-calendar .calendar-date table tbody tr > *.today:after {
	display: none;
}

.add-post .outlined-copy .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	height: 219px;
}

.sign-out-btn {
	border: none;
	box-shadow: none;
	background: transparent;
	color: #fff;
	padding: 0;
}

.grey-background {
	background: #f0f0f0;
}

#red-outline-wrapper {
	height: 280px;
	border: 3px dashed #ef463b;
	margin-top: 31px;
}

.MuiOutlinedInput-notchedOutline {
	border-radius: 0 !important;
}

.x-wrapper a {
	margin-bottom: 0;
}

.red-button {
	margin-right: 12px;
}

.date-picker-wrapper > div{
	border: 2px solid #002d5b;
    font-size: 16px;
}
.archive-x {
    background: transparent;
    border: none;
    color: #002d5b;
    font-size: 23px;
    font-weight: bold;
    height: auto;
    padding: 0;
    margin: 0 15px 0 0;
    line-height: 1;
    padding-bottom: 5px;
}

.archive-x{
	transition:all 0.3s linear;
}

a:hover, .archive-x:hover{
    color: #ef463b;
}

#nav-id li {
	margin-bottom: 20px;
}

.clear-btn {
	border: none;
	box-shadow: none;
	background: transparent;
}

.ant-time-picker  .anticon svg{
	color: #002d5b;
}

.ant-time-picker-icon, .ant-time-picker-clear {
	top:40%;
    right: 15px;
}

.upload-files-wrapper div:first-child {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    object-fit: cover;
    height: 27vw;
    margin-bottom: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.budget-input{
	padding-left:15px;
}

.main-edit-form form .ant-select{
	width:100% !important;
}
.object-fit {
	height: 90px;
	object-fit: cover;
}

#render-input {
	position: relative;

	margin-top: 30px;
	margin-bottom: 10px;
}

.edit-form .upload-files-wrapper div:first-child img {
	margin-top:0;
}

.mb-15{
	margin-bottom:15px;
}

.delete-abs{
	top: 0;
    right: 0;
    background: transparent;
    font-weight: bold;
}

.upload-files-wrapper div:nth-child(n + 2) {
    width: 20%;
    height: 90px;
    object-fit: cover;
    padding: 16px;
    background-size: cover;
}

.ad-dollar{
	font-size: 26px;
	width: 20px;
	margin-right:15px;
}

.upload-files-wrapper div:first-child img {
	width: 100%;
	object-fit: cover;
	margin: 15px auto 15px;
	margin-top: 20px;
}

.copy-wrapper {
	position: relative;
}

.red-center {
	width: 50%;
	border-left: 3px dashed #ef463b;
	height: 100%;
	margin: 0 auto;
	border-right: 3px dashed #ef463b;
	position: relative;
}

.toggle-btn {
	background: transparent;
	width: 100%;
	margin: 0 auto;
	height: 37px;
	color: #707070;
	font-size: 16px;
}

.sponsored-label {
	font-size: 20px;
	font-weight: 500;
	margin-top: 50px;
	border-bottom: 2px solid #002d5b;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.sponsored-label .ant-checkbox-wrapper {
	margin-right: 20px;
}

.title-input {
	height: auto;
}

.medium-title {
	background: transparent;
	border-radius: 0;
	height: 37px;
	border: 2px solid #002d5b;
}

#choose-date-wrapper {
	width: 30%;
}

.ant-collapse {
	background: transparent;
	border: 2px solid #002d5b;
	border-radius: 0;
	height: 37px;
}

.date-button-wrapper .ant-collapse > .ant-collapse-item > .ant-collapse-header {
	background: transparent;
	padding: 7px 0 0 15px;
}

.date-button-wrapper .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	top: 65%;
	left: auto;
	right: 14px;
}

.ant-collapse-item {
	border-bottom: none;
	height: 100%;
}

.ant-time-picker-input {
	background: transparent;
	font-size: 16px;
	height: 37px;
	border: 2px solid #002d5b;
	border-radius: 0;
}

.inner-form-wrapper1 {
	font-size: 14px;
	color: #002d5b;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #002d5b;
	border-color: #002d5b;
}

.save-draft-btn {
	width: 149px;
	height: 49px;
	background: #fff;
	border: 2px solid #ef463b;
	border-radius: 11px;
	color: #ef463b;
	margin-right: 10px;
}
.red-dashed-input {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 100px;
}

.outlined-hash {
	height: 102px;
	color: #707070;
}

.outlined-hash .MuiInputBase-multiline {
	padding-bottom: 81px;
	max-height: 105px;
	padding-top: 23px;
}

.flex-85 {
	width: 85% !important;
}

.budget-input {
	margin-left: 30px;
}

.dashed-wrapper {
	position: relative;
}

.bg-white .react-datepicker__input-container input {
	background: #fff;
	border: 2px solid #002d5b;
	height: 37px;
	color: #707070;
	width: 195px;
}

.p-15{
padding:15px;
}

.color-white{
	color:#fff;
}

.blue-border{
	border-bottom:2px solid #002D5B;
}

.pl-post{
	padding-left:15px;
}

.date-picker-wrapper {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.fw-500{
	font-weight:500;
}

.ml-7{
	margin-left:7px;
}

.budget-text {
	font-size: 20px;
}

.budget-input {
	height: 37px;
	border: 2px solid #002d5b;
	width: 100%;
}

.sign-out-btn {
	color: #002d5b;
}

#sky-logo {
	align-self: center;
	height: 66px;
}

#no-date-calendar {
	margin-top: 20px;
}

#arrow {
	position: absolute;
	top: 150px;
	right: 0px;
	width: 42%;
}

.blue-color {
	color: #002d5b;
}

.approval-wrapper .ant-checkbox-wrapper {
	margin-right: 15px;
}

.approval-wrapper {
	margin-top: 20px;
}

.inner-form-wrapper1 .react-datepicker__input-container input {
	border: none;
	height: 37px;
	color: #707070;
	width: 195px;
	background-color: transparent;
	padding-left: 15px;
	z-index: 999;
}

.add-platform-btn {
	position: absolute;
    right: 40%;
    bottom: 108px;
    margin-left: 10px;
    right: 30.5%;
}

/* INPUTS */

.blue-input {
	background: transparent;
	border-radius: 0;
	border: 2px solid #002d5b;
}

textarea.blue-input {
	height: 102px !important;
}

input.blue-input {
	height: 37px;
}

.ant-link {
	margin-top: 13px;
}

.budget-wrapper {
	margin-bottom: 10px;
}

.sub-post-form {
}

.main-edit-form .ant-select-selection__placeholder {
    top: 50%;
}

.clock-circle .anticon svg {

    color: #d9d9d9 !important;
}

.mb-10 {
	margin-bottom: 10px;
}

.upload-files-wrapper div:nth-child(n + 2) .map-img {
	vertical-align: middle;
	border-style: none;
	width: 100%;
	height: 90px;
	object-fit: cover;
}

.hidden-inner h4 {
	font-size: 20px;
	font-weight: 600;
	color: #002d5b;
}

.social-wrapper {
	margin-bottom: 11px;
}

label{
	cursor:pointer;
}

.outter-modal{
	width:1140px !important;
}

.outter-modal .ant-modal-close{
	display:none;
}

.ant-modal-body .upload-files-wrapper {
    margin-top: 0;
}

.ant-modal-body

.hidden-post .approval-wrapper {
	margin-top: 0;
}

.form-wrapper:nth-child(even) {
	background: #fff;
	padding-top: 108px;
	padding-bottom: 40.5px;
}

.form-wrapper-edit {
	transform: translateY(65px);
}

.ant-checkbox-inner {
	border: 2px solid #002d5b;
}

.form-wrapper:nth-child(odd) {
	background: #f0f0f0;
	padding-top: 108px;
	padding-bottom: 40.5px;
}

.ant-select-selection--single {
	position: relative;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 2px solid #002d5b;
    height: padding;
    width: 261px;
    color: #002d5b;
    padding: 3px 0;
    height: auto;
}

.main-edit-form {
	width: 261px;
	margin-right: 135px;
}

.image-render {
	height:90px;
}

.image-render img{
	height:100%;
}

.left-margin {
	margin-left: 10px;
}

textarea.blue-input.copy-input{
	height: 190px !important;
}