.category-color{
    margin-bottom: 5px;
    width: 265px;
    height: 21px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 15px;
}

.category-color button{
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    color: #002D5B;
    font-size: 27px;
    font-weight: bold;
}

button:focus{
    outline:none;
}