

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.client-wrapper{
  width:10px;
}

.bg-red{
  background:#EF463B;
}

#downcaret{
  position: relative;
}

#downcaret:before{
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f0da";
}

.size-int{
  width: 43px;
  height: 43px;
  border-radius: 50%;
  right: -10px;
  color: #fff;
  top: -24px;
}

.f-16{
  font-size:16px;
}

img{
  max-width:100%;
}

.toggle-close{
  position: fixed;
  top: 20%;
  right: 20%;
}

.container {
  max-width: 1440px;
}

.calendar-popup-wrapper{
  position:relative;
}

.calendar-popup{
  position: absolute;
  background: #fff;
  box-shadow: 0 0 3.8px 0 rgba(0,0,0,1);
  z-index: 99999;
  max-width: 100%;
  line-height: 1.3;
  padding: 10px;
}

h1{
  font-size:20px;
}

.approved-icon{
  background:#3BEF3B;
}

.clientRead-icon{
  background:#EFB83B;
}

.clientNotRead-icon{
  border:2px solid #EFB83B;
}

.mb-20{
  margin-bottom:20px;
}

.mt-20{
  margin-top:20px;
}

.react-datepicker-popper{
  z-index:2;
}

.inner-form-wrapper1{
  margin-top: 82px;
}

.icon{
  width:7.2px;
  height:7.2px;
  border-radius:50%;
}

.color-blue{
  color:#002D5B;
}

.add-post-container{
  padding-top:50px;
}

.blue-p{
  margin-left:10px;
}