@font-face {
	font-family: 'Panton';
	src: url('./components/assets/fonts/pantonskylar-bold-webfont.eot');
	src: url('./components/assets/fonts/pantonskylar-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./components/assets/fonts/pantonskylar-bold-webfont.woff2') format('woff2'),
		url('./components/assets/fonts/pantonskylar-bold-webfont.woff') format('woff'),
		url('./components/assets/fonts/pantonskylar-bold-webfont.ttf') format('truetype'),
		url('./components/assets/fonts/pantonskylar-bold-webfont.svg#panton_skylarbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('./components/assets/fonts/pantonskylar-light-webfont.eot');
	src: url('./components/assets/fonts/pantonskylar-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('./components/assets/fonts/pantonskylar-light-webfont.woff2') format('woff2'),
		url('./components/assets/fonts/pantonskylar-light-webfont.woff') format('woff'),
		url('./components/assets/fonts/pantonskylar-light-webfont.ttf') format('truetype'),
		url('./components/assets/fonts/pantonskylar-light-webfont.svg#panton_skylarlight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('./components/assets/fonts/pantonskylar-regular-webfont.eot');
	src: url('./components/assets/fonts/pantonskylar-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./components/assets/fonts/pantonskylar-regular-webfont.woff2') format('woff2'),
		url('./components/assets/fonts/pantonskylar-regular-webfont.woff') format('woff'),
		url('./components/assets/fonts/pantonskylar-regular-webfont.ttf') format('truetype'),
		url('./components/assets/fonts/pantonskylar-regular-webfont.svg#panton_skylarregular') format('svg');
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.client-wrapper {
	width: 10px;
}

.bg-red {
	background: #ef463b;
}

#downcaret {
	position: relative;
}

#downcaret:before {
	position: absolute;
	font-family: 'FontAwesome';
	top: 0;
	left: 10px;
	content: "\f0da";
}

.size-int {
	width: 43px;
	height: 43px;
	border-radius: 50%;
	right: -10px;
	color: #fff;
	top: -24px;
}

.f-16 {
	font-size: 16px;
}

img {
	max-width: 100%;
}

.toggle-close {
	position: fixed;
	top: 20%;
	right: 20%;
}

.container {
	max-width: 1440px;
}

.calendar-popup-wrapper {
	position: relative;
}

.calendar-popup {
	position: absolute;
	background: #fff;
	box-shadow: 0 0 3.8px 0 rgba(0, 0, 0, 1);
	z-index: 99999;
	max-width: 100%;
	line-height: 1.3;
	padding: 10px;
}

h1 {
	font-size: 20px;
}

.approved-icon {
	background: #3bef3b;
}

.clientRead-icon {
	background: #efb83b;
}

.clientNotRead-icon {
	border: 2px solid #efb83b;
}

.mb-20 {
	margin-bottom: 25px;
}

.mt-20 {
	margin-top: 20px;
}

.react-datepicker-popper {
	z-index: 2;
}

.inner-form-wrapper1 {
	margin-top: 82px;
}

.icon {
	width: 7.2px;
	height: 7.2px;
	border-radius: 50%;
}

.color-blue {
	color: #002d5b;
}

.color-grey{
	color:#707070;
}

.add-post-container {
	padding-top: 50px;
}

.blue-p {
	margin-left: 10px;
}

/* START SIGN IN */

#sign-in-wrapper {
	height: 100vh;
}

#wing-logo {
	position: fixed;
	right: 0;
	top: 6vw;
}

.fa-caret-down {
	font-size: 44px;
	position: absolute;
	right: 75px;
	z-index: 11;
	color: #002d5b;
	font-weight: 600;
}

#sign-in-wrapper input {
	width: 19vw;
	max-width: 320px;
	font-size: 16px;
}

#sign-in-wrapper input[name="password"] {
	margin-bottom: 31px;
}

.inner-chat-log {
	border: 2px solid #002d5b;
	border-radius: 3px;
	padding-top: 30px;
}

body .ant-switch-checked {
	background-color: #002d5b;
}

.MuiInputBase-input {
	padding-bottom: 15px;
}

#sign-in-wrapper .MuiInputBase-root {
	margin-bottom: 11px;
	width: 310px;
	height: 50px;
}

#sign-in-button {
	height: 48px;
	width: 149px;
	border-radius: 11px;
	text-align: center;
}

#sign-in-button-wrap {
	text-align: center;
}

h2.welcome {
	margin-top: 54px;
}

.inner-chat-log {
	width: 431px;
	max-height: 600px;
    overflow-y: scroll;
}

.inner-chat-log::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
.inner-chat-log::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
}

.inner-chat-log::-webkit-scrollbar {
	width: 10px;
  }

  .inner-chat-log::-webkit-scrollbar-track {
  background: #fff;
}
 
/* Handle */
.inner-chat-log::-webkit-scrollbar-thumb {
  background:#002d5b;
  border-radius:0;
}

/* Handle on hover */
.inner-chat-log::-webkit-scrollbar-thumb:hover {
  background:#002d5b;
}
  

.inner-chat-log textarea {
	width: 100%;
}

.progress-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	margin-top: 10vw;
}

#sign-in-wrapper .MuiButton-containedPrimary {
	background: #ee273b;
	margin-bottom: 10px;
}

.MuiInputBase-input[placeholder="email"] {
	background-color: transparent !important;
}
.add-post .anticon.ant-collapse-arrow svg {
	color: #002d5b;
}

/* END SIGN IN */

/* START HOME  */

#avatar-upload {
	height: 178px;
	width: 261px;
	text-align: center;
	border: 3px dashed #ef463b;
	margin: 0 auto;
}

#add-new-form-wrapper .ant-input {
	width: 320px;
	border-radius: 0;
	margin-bottom: 11px;
}
#add-new-form .MuiInputBase-input {
	color: #707070;
	width: 310px;
	background: #fff;
}

.f-14{
	font-size:14px;
}

body .ant-modal-footer {
	text-align: center;
	border: none;
	border: none;
}

body .ant-modal-mask {
	background-color: #000;
}

.ant-modal-close-x {
	display: none !important;
}

.ant-modal-close-x {
	display: none;
}

#client-list {
	margin-top: 100px;
}

.gutter-row.client-wrapper.flex-column.d-flex.mb-20 {
	margin-bottom: 120px;
}

.ant-icon svg {
	color: #ef463b;
	font-size: 25px;
	font-weight: bold;
	margin-top: 8px;
}

.ant-modal-footer {
	text-align: center !important;
}

.home-modal .ant-modal-body {
	padding-bottom: 0;
}

body .ant-btn-primary {
	background: #ef463b;
	text-transform: uppercase;
	color: #fff;
	border: none;
	height: 48px;
	width: 149px;
	border-radius: 11px;
}

#client-list img {
	height: 178px;
	object-fit: cover;
	width: 100%;
}

#add-new-form-wrapper {
	display: flex;
	flex-direction: column;
	left: 0;
	align-items: center;
	justify-content: center;
}

.home-modal .ant-modal-content {
	background: transparent;
	border: none;
	box-shadow: none;
}

.margin-border {
	margin-bottom: 30px;
}

.post-list-wrapper {
	margin-bottom: 50px;
}

.cat-h5 {
	text-align: center;
	margin: 50px 0 70px;
}

.time-string {
	position: relative;
	background: #002d5b;
	color: #fff;
	font-size: 20px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 11px;
}

#assign-categories-wrapper {
	background: #000;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: flex;
	align-items: center;
}

.submit-cat {
	position: absolute;
	bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.margin-h2 {
	margin-bottom: 35px;
	margin-top: 54px;
}

.p-blue {
	color: #002d5b;
}

#x-add-new {
	z-index: 9999999999;
	color: #ee463a;
}

.smile-logo,
.smile-wrapper {
	width: 21px;
	height: 21px;
}

.date-col input {
	border: none;
	font-size: 14px;
	display: flex;
	height: 30px;
	padding-top: 0;
}

.date-col .ant-time-picker-icon {
	display: none;
}

.post-col input {
	border: none;
}

.assign-cat label {
	margin: 0;
}

.form-cat {
	height: 70vh;
}

.list-header {
	border-bottom: 2px solid #002d5b;
	color: #002d5b;
	font-size: 16px;
	padding-bottom: 7px;
	margin-bottom: 0;
}

.main-button {
	height: 48px;
	width: 149px;
	border-radius: 11px;
	font-size: 16px;
	border: none;
	text-transform: uppercase;
}

.red-button {
	background: #ef463b;
	color: #fff;
	margin-right: 12px;
}

.white-button {
	border: 2px solid #ef463b;
}

.smile-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
}

.main-form-wrapper {
	width: 100%;
}

#add-new-form .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-color: #fff;
}

.para-margin {
	margin-bottom: 78px;
}

.react-datepicker-popper {
	z-index: 10;
}

.bm-burger-bars-hover {
	color: #fff;
	transform: translateY(-3px);
	transition: transform 0.3s linear;
	background: #002d5b;
}

#add-new-form .MuiInputLabel-outlined {
	color: #707070;
}

#add-new-form .MuiInputLabel-outlined {
}

#add-new-form .MuiInputBase-input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #002d5b;
	opacity: 1; /* Firefox */
}

#add-file {
	margin-top: 13px;
	width: 260px;
	margin-top: 13px;
	width: 260px;
	position: absolute;
	bottom: 15px;
	right: 0;
	width: 90px;
	right: 15px;
}

.mt-10 {
	margin-top: 10px;
}

.archive-x {
	position: absolute;
	right: 0;
	margin-right: 15px;
	margin-top: 7px;
}

.bm-burger-bars {
	background: #fff;
	height: 4px !important;
	width: 43px;
	border-radius: 3px;
}

#client-list {
	margin-top: 61px;
}

.user-background {
	height: 178px;
	width: 100%;
	object-fit: cover;
}

.x-wrapper {
	position: absolute !important;
	right: 0;
	left: 0;
	text-align: center;
}

.uncomplete.add-date-btn {
	background: #b2bec3;
}

.client-wrapper {
	height: 178px;
	width: 23%;
	position: relative;
	margin-bottom:90px;
}

.delete-button {
	position: absolute;
	top: 50px;
	background: transparent;
	border: none;
	padding-left: 20px;
}

.delete-button button {
	width: 40px;
	height: 40px;
}

.client-wrapper a {
	text-decoration: none;
	color: #002d5b;
	margin-bottom: 10px;
}

.round-arrow {
	position: relative;
	top: -80px;
}

.dashed {
	border: 3px dashed #f0f0f0;
	height: 178px;
	width: 24%;
}

.container {
	max-width: 1440px;
}

#home-page {
	position: relative;
}

.empty-add-date {
	position: absolute;
	right: 45px;
	top: 53px;
	z-index: 100;
}
.empty-state .text-center {
	margin-top: 14px;
}

.inner-form-wrapper input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
#avatar-upload {
	position: relative;
}

.go-post {
	width: 100%;
	display: inline-block;
	text-align: right;
	transform: translateY(-83px);
}

a.d-flex {
	color: #002d5b;
	margin-top: 15px;
}

a.save-draft-btn.d-flex {
	color: #ef463b;
}

a.d-flex img {
	margin-right: 15px;
}

.grey-link {
	color: #707070;
}

/* END HOME  */

/* START OF ADD POST  */

.react-time-picker__clock {
	display: none;
}

.add-post .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-color: #002d5b;
	border-width: 2px;
}

.inner-form-wrapper1 .margin-label {
	margin-left: 10px;
}

.no-margin {
	margin: 0 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
	border-color: #002d5b;
}

.add-post .MuiInputLabel-outlined {
	color: #002d5b;
	text-transform: uppercase;
}

.react-time-picker {
	height: 56px;
	border: 2px solid #002d5b;
	border-radius: 4px;
}

.add-post .MuiFormControl-root {
	margin-bottom: 0;
}

.react-time-picker__wrapper {
	border: none;
	padding: 0 20px;
}

.add-post .MuiFab-label {
	color: #fff;
}

.outlined-title.MuiFormControl-root,
.outlined-title.MuiFormControl-root .MuiInputBase-root {
	width: 100%;
	height: 37px;
}

.outlined-title .MuiFormLabel-root {
	transform: translate(14px, 12px) scale(1);
}

.add-post .outlined-title.hash-field {
	margin-bottom: 10px;
}
.heading {
	font-size: 20px;
	font-weight: 600;
	margin-top: 25px;
}

.outter-form-wrap {
	width: 100%;
}

.outlined-copy {
	height: 219px;
	width: 100%;
}

.category-wrapper::nth-child(n + 1) {
	display: none;
}

.outlined-copy .PrivateNotchedOutline-root-55 {
	height: 219px;
}
.remove-hash {
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 24px;
}

.add-post .add-date-btn {
	margin-top: 48px;
}

.ant-upload-select-picture-card i {
	font-size: 32px;
	color: #999;
}

/* .ant-row.upload-files-wrapper{
	width:100%;
} */

.ant-upload-select-picture-card .ant-upload-text {
	margin-top: 8px;
	color: #666;
}

.add-post-heading.heading {
	margin-top: 40px;
	margin-bottom: 110px;
}

.pl-10{
	padding-left:10px;
}

.tail-datetime-calendar .calendar-date table tbody tr > *.today:after {
	display: none;
}

.add-post .outlined-copy .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	height: 219px;
}

.sign-out-btn {
	border: none;
	box-shadow: none;
	background: transparent;
	color: #fff;
	padding: 0;
}

.grey-background {
	background: #f0f0f0;
}

#red-outline-wrapper {
	height: 280px;
	border: 3px dashed #ef463b;
}

.add-post #red-outline-wrapper{
	margin-top:30px;
}

.MuiOutlinedInput-notchedOutline {
	border-radius: 0 !important;
}

.x-wrapper a {
	margin-bottom: 0;
}

.red-button {
	margin-right: 12px;
}

.date-picker-wrapper > div {
	border: 2px solid #002d5b;
	font-size: 16px;
}
.archive-x {
	background: transparent;
	border: none;
	color: #002d5b;
	font-size: 23px;
	font-weight: bold;
	height: auto;
	padding: 0;
	margin: 0 15px 0 0;
	line-height: 1;
	padding-bottom: 5px;
}

.archive-x {
	transition: all 0.3s linear;
}

a:hover,
.archive-x:hover {
	color: #ef463b;
}

#nav-id li {
	margin-bottom: 20px;
}

.clear-btn {
	border: none;
	box-shadow: none;
	background: transparent;
}

.ant-time-picker .anticon svg {
	color: #002d5b;
}

.ant-time-picker-icon,
.ant-time-picker-clear {
	top: 40%;
	right: 15px;
}

.upload-files-wrapper div:first-child {
	width: 100%;
	display: flex;
	text-align: center;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	object-fit: cover;
	height: 27vw;
	margin-bottom: 20px;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-30{
	margin-bottom:30px !important;
}

.budget-input {
	padding-left: 15px;
}

.main-edit-form form .ant-select {
	width: 100% !important;
}
.object-fit {
	height: 90px;
	object-fit: cover;
}

#render-input {
	position: relative;

	margin-top: 30px;
	margin-bottom: 10px;
}

.edit-form .upload-files-wrapper div:first-child img {
	margin-top: 0;
}

.mb-15 {
	margin-bottom: 15px;
}

.delete-abs {
	top: 0;
	right: 0;
	background: transparent;
	font-weight: bold;
}

.upload-files-wrapper div:nth-child(n + 2) {
	width: 20%;
	height: 90px;
	object-fit: cover;
	padding: 16px;
	background-size: cover;
}

.ad-dollar {
	font-size: 26px;
	width: 20px;
	margin-right: 15px;
}

.upload-files-wrapper div:first-child img {
	width: 100%;
	object-fit: cover;
	margin: 15px auto 15px;
	margin-top: 20px;
}

.copy-wrapper {
	position: relative;
}

.red-center {
	width: 50%;
	border-left: 3px dashed #ef463b;
	height: 100%;
	margin: 0 auto;
	border-right: 3px dashed #ef463b;
	position: relative;
}

.toggle-btn {
	background: transparent;
	width: 100%;
	margin: 0 auto;
	height: 37px;
	color: #707070;
	font-size: 16px;
}

.sponsored-label {
	font-size: 20px;
	font-weight: 500;
	margin-top: 50px;
	border-bottom: 2px solid #002d5b;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.sponsored-label .ant-checkbox-wrapper {
	margin-right: 20px;
}

.title-input {
	height: auto;
}

.medium-title {
	background: transparent;
	border-radius: 0;
	height: 37px;
	border: 2px solid #002d5b;
}

#choose-date-wrapper {
	width: 30%;
}

.ant-collapse {
	background: transparent;
	border: 2px solid #002d5b;
	border-radius: 0;
	height: 37px;
}

.date-button-wrapper .ant-collapse > .ant-collapse-item > .ant-collapse-header {
	background: transparent;
	padding: 7px 0 0 15px;
}

.date-button-wrapper .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	top: 65%;
	left: auto;
	right: 14px;
}

.ant-collapse-item {
	border-bottom: none;
	height: 100%;
}

.ant-time-picker-input {
	background: transparent;
	font-size: 16px;
	height: 37px;
	border: 2px solid #002d5b;
	border-radius: 0;
}

.inner-form-wrapper1 {
	font-size: 14px;
	color: #002d5b;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #002d5b !important;
	border-color: #002d5b !important;
}

.save-draft-btn {
	width: 149px;
	height: 49px;
	background: #fff;
	border: 2px solid #ef463b;
	border-radius: 11px;
	color: #ef463b;
	margin-right: 10px;
}
.red-dashed-input {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 100px;
}

.outlined-hash {
	height: 102px;
	color: #707070;
}

.outlined-hash .MuiInputBase-multiline {
	padding-bottom: 81px;
	max-height: 105px;
	padding-top: 23px;
}

.flex-85 {
	width: 85% !important;
}

.budget-input {
	margin-left: 30px;
}

.dashed-wrapper {
	position: relative;
}

.bg-white .react-datepicker__input-container input {
	background: #fff;
	border: 2px solid #002d5b;
	height: 37px;
	color: #707070;
	width: 195px;
}

.p-15 {
	padding: 15px;
}

.color-white {
	color: #fff;
}

.blue-border {
	border-bottom: 2px solid #002d5b;
}

.pl-post {
	padding-left: 15px;
}

.date-picker-wrapper {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.fw-500 {
	font-weight: 500;
}

.ml-7 {
	margin-left: 7px;
}

.budget-text {
	font-size: 20px;
}

.budget-input {
	height: 37px;
	border: 2px solid #002d5b;
	width: 100%;
}

.sign-out-btn {
	color: #002d5b;
}

#sky-logo {
	align-self: center;
	height: 66px;
}

#no-date-calendar {
	margin-top: 20px;
}

#arrow {
	position: absolute;
	top: 150px;
	right: 0px;
	width: 42%;
}

.blue-color {
	color: #002d5b;
}

.approval-wrapper .ant-checkbox-wrapper {
	margin-right: 15px;
}

.approval-wrapper {
	margin-top: 20px;
}

.inner-form-wrapper1 .react-datepicker__input-container input {
	border: none;
	height: 37px;
	color: #707070;
	width: 195px;
	background-color: transparent;
	padding-left: 15px;
	z-index: 999;
}

.add-platform-btn {
	position: absolute;
	bottom: 108px;
	margin-left: 10px;
	right: 30.5%;
	bottom: 50px;
}

/* INPUTS */

.blue-input {
	background: transparent;
	border-radius: 0;
	border: 2px solid #002d5b;
}

textarea.blue-input {
	height: 102px !important;
}

input.blue-input {
	height: 37px;
}

.ant-link {
	margin-top: 13px;
}

.budget-wrapper {
	margin-bottom: 10px;
}

.main-edit-form .ant-select-selection__placeholder {
	top: 50%;
}

.clock-circle .anticon svg {
	color: #d9d9d9 !important;
}

.mb-10 {
	margin-bottom: 10px;
}

.upload-files-wrapper div:nth-child(n + 2) .map-img {
	vertical-align: middle;
	border-style: none;
	width: 100%;
	height: 90px;
	object-fit: cover;
}

.hidden-inner h4 {
	font-size: 20px;
	font-weight: 500;
	color: #002d5b;
}

.social-wrapper {
	margin-bottom: 11px;
}

label {
	cursor: pointer;
}

.outter-modal {
	width: 1140px !important;
}

.outter-modal .ant-modal-close {
	display: none;
}

.ant-modal-body .upload-files-wrapper {
	margin:0;
}

.ant-modal-body .hidden-post .approval-wrapper {
	margin-top: 0;
}

.form-wrapper:nth-child(even) {
	background: #fff;
}

.form-wrapper-edit {
	transform: translateY(65px);
}

.outter-inner-post-wrapper:nth-child(odd) .inner-inner-post{
	background:#fff;
}

.margin-app{
	margin-top:100px;
}

.outter-inner-post-wrapper .inner-post-wrapper .time-outter-wrapper:nth-child(odd) .inner-post{
	background: #fff
}

.outter-inner-post-wrapper .inner-post-wrapper .time-outter-wrapper:nth-child(even) .inner-post{
	background: #f0f0f0;
}

.ant-checkbox-inner {
	border: 2px solid #002d5b;
}

.inner-inner-post .inner-row{
	padding-bottom:40px;
	padding-top:25px;
}

.form-wrapper:nth-child(odd), #render-parent .outter-inner-post-wrapper:nth-child(odd) .inner-post{
	background: #f0f0f0;
}

.edit-form-main-wrapper:nth-child(odd) {
	background: #f0f0f0;
}

.ant-select-selection--single {
	position: relative;
	cursor: pointer;
	background: transparent;
	border-radius: 0;
	border: 2px solid #002d5b;
	height: padding;
	width: 261px;
	color: #002d5b;
	padding: 3px 0;
	height: auto;
}

.main-edit-form {
	width: 261px;
	margin-right: 135px;
}

.image-render {
	height: 90px;
}

.image-render img {
	height: 100%;
}

.left-margin {
	margin-left: 10px;
}

textarea.blue-input.copy-input {
	height: 190px !important;
	margin-top:20px;
}

/* END OF ADD POST  */

/* START OF EDIT POST  */

.delete-post-button {
	position: absolute;
	background: transparent;
	border: none;
}

.edit-post .outlined-title {
	margin-top: 0;
}

.clear-message-btn {
	position: absolute;
	right: 50px;
	bottom: 5px;
	font-size: 20px;
	font-size: 14px;
}

.hidden {
	display: none !important;
}

.admin-mesage {
	width: 85%;
	text-align: left;
	float: right;
}

.upload-files-wrapper {
	margin-top: 34.5px;
	margin-bottom: 20px;
}

.messages-wrapper:last-child {
	margin-bottom: 30px;
}

.mt-30 {
	margin-top: 30px;
}

.small-red-wrapper {
	border: 3px dashed #ef463b;
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-top: 20px;
}

.ant-popover.ant-popover-placement-topRight {
	position: fixed !important;
}

.clear-message-btn {
	right: 53px;
	bottom: 5px;
}

.fixed-bottom {
	right: -57%;
	text-align: right;
	width: 200px;
}

.edit-form-main-wrapper {
	padding-top: 80px;
	padding-bottom: 50px;
}

.edit-form-main-wrapper .ant-time-picker {
	width: 100%;
}

.edit-social-icons label:nth-child(2) {
	padding-left: 10px;
}

.ad-edit {
	font-size: 20px;
	font-weight: 500;
	margin-left: 20px;
}

.edit-post .edit-form-main-wrapper .edit-btn-wrapper {
	display: none;
}

.edit-post .edit-form-main-wrapper:last-child .edit-btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px;
	justify-content: center;
}

.blue-border {
	margin-bottom: 10px;
}

.edit-btn-wrapper .add-date-btn {
	margin-top: 0;
}

.inner-chat-log textarea {
	margin: 0;
	height: 46px;
	border-top: 2px solid #002d5b;
}

.react-datepicker-wrapper input {
	border: none;
}
.inner-form-wrapper2 input {
	border: none;
	height: 37px;
	color: #707070;
	width: 195px;
	background-color: transparent;
	padding-left: 15px;
	z-index: 999;
}

.happy-btn {
	right: 0px;
	bottom: 0px;
	height: 45px;
	width: 50px;
	font-size: 24px;
}

/* END OF EDIT POST  */

/* START OF DATES  */

* {
	font-family: 'Panton' !important;
}

body .ant-select-selection__placeholder {
	top: 48%;
}

.fas {
	font-family: 'Font Awesome 5 Free' !important;
}

.admin-message-wrap .ant-btn {
	position: absolute;
	left: 30px;
	bottom: 4px;
}

.admin-message-wrap .ant-btn:hover {
	background: transparent;
	color: #002d5b;
}

#no-date-calendar {
	width: 100%;
}

.toggle-close {
	background: transparent;
	color: #ef463b;
	font-weight: bold;
	border: none;
	font-size: 41px;
}

.add-date-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	z-index: 1;
	right: 0;
}

.add-date-form .add-date-btn {
	margin-top: 58px;
}

.add-date-btn {
	background: #ef463b;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #ef463b;
	height: 48px;
	min-width: 149px;
	border-radius: 11px;
	transition: all 0.3s ease-in-out;
	padding: 0 15px;
}

.anticon-down {
	position: relative;
}

.ant-select-enabled img {
	transform: rotate(0deg);
}

.ant-select-arrow {
	top: 46%;
}

.ant-select-selection-selected-value {
	padding-bottom: 2px;
}

.ant-select-enabled.ant-select-open img {
	transform: rotate(90deg);
}

.ant-select-selection__placeholder {
	color: #707070;
}

.anticon-down:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f007";
	position: absolute;
}

.back-link:hover {
	color: #ef463b !important;
}

.ant-btn:hover {
	border-color: #ef463b;
}

.add-date-btn:hover {
	background: #fff;
	color: #ef463b;
}

.react-time-picker__inputGroup__input {
	width: 18px !important;
}

select {
	background: #fff;
}

.date-map-item img {
	width: 95%;
}

.back-link {
	color: #002d5b;
	margin-left: 15px;
}

.anticon svg {
	font-size: 20px;
	color: #ef463b;
	font-weight: bold;
}

.admin-message-wrap textarea {
	border: none;
	margin-bottom: 0;
	border-top: 2px solid #002d5b;
}

.ant-select-arrow .ant-select-arrow-icon svg {
	color: #000;
}

.new-home-bg {
	margin-top: 50px;
}

.main-form-wrapper .upload-files-wrapper {
	width: 100%;
}
.inner-date-wrapper .ant-select-selection--single .ant-select-selection__rendered {
	/* height:37px; */
}

.inner-date-wrapper .ant-select-selection--single {
	background: #fff;
	color: #707070;
	font-size: 16px;
	height: 37px;
	border: 1px solid #707070;
}

.inner-date-wrapper .selection__rendered {
	height: 37px;
}

.inner-date-wrapper .ant-modal-footer {
	margin-top: 36px;
}

.categories-modal .ant-modal-close {
	display: none;
}

.inner-date-wrapper .ant-select-selection__rendered {
	display: flex;
	align-items: center;
}

.date-modal .ant-modal-content {
	background: transparent;
	box-shadow: none;
}

.date-modal.ant-modal {
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
}

.single-calendar-wrapper {
	background-image: url('./components/assets/grouped-single-calendar.svg');
	height: 240px;
	display: block;
	background-size: cover;
	position: relative;
	background-size: 100% 100%;
	width: 100%;
}

.categories-modal .ant-modal-content {
	width: 200px;
	background: transparent;
	box-shadow: none;
	left: -70%;
	top: 187px;
}

.cat-outter-list {
	left: -15px !important;
	bottom: -95px !important;
}

.sketch-picker {
	width: 215px !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}

.mt-87 {
	margin-top: 87px;
}

.margin-70 {
	margin-bottom: 50px;
}

#client-heading {
	margin-top: 78px;
	margin-bottom: 22px;
	font-size: 20px;
	text-align: left !important;
}

.admin-logged-in.client-message-wrap .color-blue.d-block,.client-logged-in.client-message-wrap .color-blue.d-block {
	text-align:left;
	padding-left:10px;
}


.admin-logged-in.client-message-wrap  .client-clear-btn {
	right: 0;
    left: auto;
}

.client-text {
	margin-top: 20px;
}

.add-btn-wrapper {
	position: absolute;
	top: 106px;
	right: 25px;
}

.date-map-item {
	margin-bottom: 45px;
}

.cal-img {
	margin-bottom: 11px;
}

.main-link {
	margin-left: 17px;
	width: 80%;
	text-align: center;
}

.date-wrapper {
	margin: 0 auto;
}

.delete-date {
	box-shadow: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

.no-padding {
	padding: 0 !important;
}

#arrow {
	position: absolute;
}

.no-margin {
	margin: 0;
}

.plus {
	color: #fff;
	background: #002d5b;
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

#add-category-button {
	color: #002d5b;
	border-radius: 50%;
}

.arrow-wrapper .add-date-btn {
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.date-wrapper a {
	color: #002d5b;
	text-decoration: none;
}

.inner-date-wrapper {
	width: 600px;
}

.month-wrapper {
	width: 600px;
}

.date-wrapper select {
	width: 150px;
}

body .bm-menu {
	background: #fff;
}

#main-menu {
	top: 0;
}

#nav-id {
	padding: 0;
	list-style: none;
}

#nav-id img {
	width: 46px;
	height: 46px;
	margin-right: 20px;
}

#nav-id li a {
	color: #002d5b;
}

#outter-cat-wrapper {
	position: absolute;
	margin-top: 85px;
}

.margin-btn {
	margin-top: 120px;
}

.assign-link {
	color: #002d5b;
	text-decoration: underline;
	margin-bottom: 20px;
	display: inline-block;
}

.remove-wrapper {
	position: absolute;
	bottom: 110px;
	left: 51%;
}

.ml-10 {
	margin-left: 10px !important;
	margin-bottom: 0;
}

#trans-cat button {
	margin-bottom: 4px;
}

.main-edit-form .ant-select-selection-selected-value {
	float: left;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 6px;
	font-size: 16px;
	color: #707070;
}

/* END OF DATES  */

/* START OF CALENDAR SINGLE  */

.tail-datetime-calendar .calendar-date table tbody tr > *.today {
	position: relative;
}

.calendar-single-day {
	color: #707070;
	font-size: 24px;
	position: absolute;
	right: 15px;
	top: 0;
}

.hidden-calendar-wrapper button {
	box-shadow: none;
	border: none;
}

.hidden-calendar-wrapper button {
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.hidden-calendar-wrapper button:hover {
	box-shadow: 0 6px 11px -2px rgba(0, 0, 0, .5);
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.calendar-popup-wrapper {
	padding-left: 10px;
	padding-top: 20px;
}

.add-post-link {
	background: #002d5b;
	width: 25px;
	display: inline-block;
	height: 25px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	margin: 0 10px 10px 0;
}

.calendar-popup-wrapper {
	padding-top: 3.3px;
}

.hidden-calendar-wrapper {
	position: relative;
	margin-bottom: 3px;
}

.check {
	position: absolute;
	right: 30px;
	top: 25%;
	width: 18px;
}

.tail-datetime-calendar .calendar-date table tbody tr > * {
	text-align: left;
}

.fade-enter {
	opacity: 0;
	z-index: 1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 250ms ease-in;
}

.back-wrapper {
	margin-top: 20px;
}

.back-wrapper img {
	margin-right: 14px;
}

.back-link {
	font-size: 14px;
	color: #002d5b;
}

#header {
	z-index: 99;
	position: fixed;
	top: 0;
}

.nav-wrapper {
	background: #002d5b;
	height: 88px;
}

.nav-wrapper > div {
	width: auto;
	height: 30px;
	margin-right: 45px;
}

.nav-wrapper h5 {
	color: #fff;
	margin-left: 40px;
}

.nav-wrapper h5 {
	color: #fff;
	margin-left: 40px;
}

h5 {
	margin-bottom: 0;
}

/* END OF CALENDAR SINGLE  */

/* START OF CALENDAR  */

/*
 |  tail.DateTime - A pure, vanilla JavaScript DateTime Picker
 |  @author        SamBrishes <https://github.com/pytesNET/tail.DateTime/>
 |                 MrGuiseppe <https://github.com/MrGuiseppe/pureJSCalendar/>
 |  @version       0.3.4 - Alpha
 |
 |  @license       X11 / MIT License
 |  @copyright     Copyright Â© 2018 - SamBrishes, pytesNET <pytes@gmx.net>
 |                 Copyright Â© 2018 - MrGuiseppe <https://github.com/MrGuiseppe>
 */

/* @start tail.DateTime */
.tail-datetime-calendar {
	margin: 0 auto;
	z-index: 1;
	/* position: absolute; */
	left: 0;
	right: 0;
}
.tail-datetime-calendar:after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	visibility: hidden;
}
.tail-datetime-calendar.calendar-static {
	margin-left: auto;
	margin-right: auto;
}
.tail-datetime-calendar .calendar-navi {
	width: 100%;
	margin: 0;
	padding: 0;
	display: table;
	border-spacing: 0;
	border-collapse: separate;
	background-color: #002d5b;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
}
.tail-datetime-calendar .calendar-navi span {
	cursor: pointer;
	color: #fff;
	margin: 0;
	padding: 0;
	display: table-cell;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	background-repeat: no-repeat;
	background-position: center center;
}
.tail-datetime-calendar .calendar-navi span:first-child,
.tail-datetime-calendar .calendar-navi span:last-child {
	width: 35px;
	padding: 0 0 5px 0;
	font-size: 22px;
}
.tail-datetime-calendar .calendar-navi span:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.bm-burger-button {
	filter: brightness(9.5);
}

.tail-datetime-calendar .calendar-date {
	margin: 0;
	padding: 0;
	display: block;
}
.tail-datetime-calendar .calendar-date table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.tail-datetime-calendar .calendar-date table thead tr > *,
.tail-datetime-calendar .calendar-date table tbody tr > * {
	color: #ffffff;
	width: 35px;
	height: 200px;
	padding: 0;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
	line-height: 35px;
	border: 0;
	background-color: #f2f2f2;
}
.tail-datetime-calendar .calendar-date table tbody tr > * {
	color: #334455;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	background-color: #ffffff;
}
.tail-datetime-calendar .calendar-date table tbody tr > * > span {
	color: inherit;
	z-index: 10;
	position: relative;
}
/* Select a Day */
.tail-datetime-calendar .calendar-date table tbody tr > *::after {
	top: 3px;
	left: 3px;
	width: 29px;
	height: 29px;
	content: "";
	display: block;
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.tail-datetime-calendar .calendar-date table tbody tr > *.today {
	color: #3296c8;
}
.tail-datetime-calendar .calendar-date table tbody tr > *.today:after {
	border-color: #3296c8;
}
.tail-datetime-calendar .calendar-date table tbody tr > *.current span {
	color: #fff;
}
.tail-datetime-calendar .calendar-date table tbody tr > *.current:after {
	border-color: #3296c8;
	background-color: #3296c8;
}
/* Select A Month */
.tail-datetime-calendar .calendar-date table.calendar-month tbody tr > * {
	width: 81.66666666666667px;
	padding: 5px;
	line-height: 25px;
}
.tail-datetime-calendar .calendar-date table.calendar-month tbody tr > * span {
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tail-datetime-calendar .calendar-date table.calendar-month tbody tr > *:hover span {
	border-color: #d0d0d0;
	box-shadow: 0 1px 0 0 #efefef;
	-webkit-box-shadow: 0 1px 0 0 #efefef;
}
/* Select a Time */
.tail-datetime-calendar .calendar-time {
	width: 100%;
	margin: 0;
	padding: 0;
	display: table;
	text-align: center;
	background-color: #ffffff;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
.tail-datetime-calendar .calendar-date + .calendar-time {
	border-top: 1px solid #d0d0d0;
	background-color: #f8f8f8;
}
.tail-datetime-calendar .calendar-time .calendar-field {
	width: 33.3333333333%;
	padding: 10px 0;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: top;
}
.tail-datetime-calendar .calendar-time .calendar-field:first-child {
	text-align: right;
}
.tail-datetime-calendar .calendar-time .calendar-field:first-child:after {
	top: 12px;
	right: -10px;
	content: ":";
	position: absolute;
}
.tail-datetime-calendar .calendar-time .calendar-field:last-child {
	text-align: left;
}
.tail-datetime-calendar .calendar-time .calendar-field:last-child:after {
	top: 12px;
	left: -10px;
	content: ":";
	position: absolute;
}
.tail-datetime-calendar .calendar-time .calendar-field input[type="number"] {
	width: 100%;
	max-width: 50px;
	margin: 0;
	padding: 3px 4px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #d0d0d0;
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tail-datetime-calendar .calendar-time .calendar-field input[type="number"]:hover {
	border-color: #a0a0a0;
}
.tail-datetime-calendar .calendar-time .calendar-field input[type="number"]:focus {
	border-color: #3296c8;
}
.tail-datetime-calendar .calendar-time .calendar-field label {
	color: #778899;
	margin: 5px 0 0 0;
	padding: 0;
	display: block;
	font-size: 12px;
	line-height: 12px;
}
/* @end tail.DateTime */

.tail-datetime-calendar .calendar-date table thead tr > * {
	height: 90px;
}

.calendar-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tail-datetime-calendar .calendar-date table tbody tr > * {
	background-color: #f2f2f2 !important;
	border: 4px solid #fff !important;
}

.calendar-popup-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	height: 100%;
}

#weekdays {
	background-color: #ebebeb !important;
}

#weekdays th {
	font-size: 20px;
	font-weight: 600;
	color: #002d5b;
}

.ant-select {
	width: 100%;
}

.calendar-heading h2,
.calendar-heading p {
	font-size: 20px;
	font-weight: 600;
}

.calendar-heading {
	margin: 40px 0 30px;
}

.calendar-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar-navi {
	height: 20px;
}

#add-category-button img {
	margin-right: 14px;
}

#calendar-wing #wing-logo{
	position: absolute;
    right: 0;
    top: 6vw;
    z-index: -1;
}

.p-0 {
	padding: 0 !important;
}

.pl-15{
	padding-left:15px;
}

.mb-5{
	margin-bottom:5.5px !important;
}

.border-20 {
	width: 100vw;
	height: 20px;
	background: #002d5b;
}

.send-clear {
	right: 50px;
	top: 8px;
}

#button-switch {
	padding: 40px 0 35px 0;
}

#add-category-button {
	width: 181px;
	height: 36px;
	color: #002d5b;
	font-size: 16px;
	border-radius: 11px;
	padding: 0;
	margin-bottom: 20px;
}

.border {
	height: 14px;
	width: 100%;
	background: #002d5b;
}

.circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin: 0 15px 10px 0;
}

.red {
	background: #ef463b;
}

.orange {
	background: #efb83b;
}

.green {
	background: #3bef3b;
}

.hollow-orange {
	border: 2px solid #ffcf03;
}

/* END OF CALENDAR  */

/* CUSTOM CSS  */

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
	margin-right: 15px;
	transform: translateY(-3px);
}

.edit-form-main-wrapper:first-child {
	padding-top: 50px;
}

/* START CLIENT  */

#skylar-logo {
	float: right;
	margin: 20px 20px 0 0;
}

.h-15 {
	height: 15px !important;
}

/* END CLIENT  */

.hidden-post .upload-files-wrapper div:first-child {
    max-height: 350px !important;
}

.label-2{
	position: relative;
    height: 15px;
    line-height: normal;
    text-align: left;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #002D5B;
	max-width: 130px;
}

.pb-10{
	padding-bottom:10px;
}

.edit-form-main-wrapper .ant-collapse-extra img, .main-form-wrapper .ant-collapse-extra img{
	margin:0;
}

.tail-datetime-calendar .calendar-date table tbody tr > *{
	width:249px;
}

.main-outter-single{
	padding-top: 3.3px;
	padding-left: 10px;
	width: 100%;
	position: absolute;
    top: 0;
}

.outter-client-single{
	margin-bottom:5px;
}

button{
	cursor:pointer;
}

.pl-8{
	padding-left:8px;
}

.ml-0{
	margin-left:0;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
	display:none;
}