.top-delete{
    position: absolute;
    right: 0;
    padding: 0;
    right: 13px;
    top: 5px;
    font-weight: bold;
    font-size: 22px;
}

.bg-image{
    height:178px;
    background-size:cover;
}

.f-20{
    font-size:20px;
    font-weight: 600;
}