.delete-post-button{
    position: absolute;
    background: transparent;
    border: none;
}

.edit-post .outlined-title{
    margin-top:0;
}

.clear-message-btn{
    position: absolute;
    right: 50px;
    bottom: 5px;
    font-size: 20px;
    font-size: 14px;
}

.hidden{
    display:none !important;
}

.admin-mesage{
    width: 85%;
    text-align: left;
    float: right;
}

.upload-files-wrapper{
    margin-top: 34.5px;
    margin-bottom: 20px;
}

.messages-wrapper:last-child{
    margin-bottom:30px;
}

.mt-30{
    margin-top:30px;
}

.small-red-wrapper{
    border:3px dashed #EF463B;
    width:80px;
    height:80px;
    margin-right:20px;
    margin-top:20px;
}

.ant-popover.ant-popover-placement-topRight{
    position:fixed !important;
}

.clear-message-btn{
    right: 53px;
    bottom: 5px;    
}

.fixed-bottom{
    right: -57%;
    text-align: right;
    width: 200px;

}

.edit-form-main-wrapper{
    padding-top: 130px;
    padding-bottom:50px;
}

.edit-form-main-wrapper .ant-time-picker{
    width:100%;
}

.edit-social-icons label:nth-child(2){
    padding-left:10px;
}

.ad-edit{
    font-size: 20px;
    font-weight: 500;
    margin-left:20px;
}

.edit-post .edit-form-main-wrapper .edit-btn-wrapper{
    display:none;
}

.edit-post .edit-form-main-wrapper:last-child  .edit-btn-wrapper{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    margin-top:50px;
    justify-content: center;
}

.blue-border{
    margin-bottom:10px;
}

.edit-btn-wrapper .add-date-btn{
    margin-top:0;
}

.inner-chat-log textarea{
    margin: 0;
    height: 46px;
    border-top: 2px solid #002D5B;
}

.react-datepicker-wrapper input{
    border:none;
}
.inner-form-wrapper2 input{
    border: none;
    height: 37px;
    color: #707070;
    width: 195px;
    background-color: transparent;
    padding-left: 15px;
    z-index: 999;
}

.happy-btn{
    right: 0px;
    bottom: 0px;
    height: 45px;
    width: 50px;
    /* border: none; */
    border-left: 2px solid #002D5B !important;
    font-size: 24px;
}